.lo-go{
    width: 150px;
}
.avatar{
    border: 1px solid black;
}
.avatar li{
    list-style: none;
    float: right;
}
.user-avatar{
    width: 30px;
}

.avatar li a {
    color: black;
    font-weight: 600;
}
h4{
    color: brown;
}
.navba ul{
    list-style-type: none;
    list-style: none;
    display: flex;
    padding: 0;
    text-align: center;
}
.navba ul li{
    flex: 1;
    background-color:teal;
}

.navba ul li:hover{
    background-color: gray;
}

.navba ul li a{
   color: #ffffff;
   text-transform: uppercase;
   text-decoration: none;
   padding: 10px;
   display: block;
   
}
.navba ul li a:hover{
    color: #000000;
}
<<<<<<< HEAD:GianHang.css

#list{
    list-style: none;
}
=======
#listShoes{
    list-style: none;
    
}
.img-responsive{
    height: 100%;
    width: 100%;
    display: block;
}
#masp {
    margin-top: -2px;
    margin-bottom: 1rem;
    margin-left: 26px;
}
#nameSP{
    margin-top: -16px;
    margin-left: 9px;
    margin-bottom: .5rem;
}
.img-responsive ul li:hover{
    height: 80%;
    width: 80%;
    
    display: block;
}
>>>>>>> 07293cee9dfd592dd5eb4289b9bf81a55ae55702:NhapHang.css
